# Created by Vercel CLI
DATABASE_URL=REDACTED
N8N_API_KEY=REDACTED
N8N_WEBHOOK_URL=REDACTED
NEXT_PUBLIC_SENTRY_DSN=REDACTED
NEXT_PUBLIC_SUPABASE_URL=REDACTED
NX_DAEMON=REDACTED
SENTRY_AUTH_TOKEN=REDACTED
SUPABASE_ANON_KEY=REDACTED
SUPABASE_SERVICE_ROLE_KEY=REDACTED
SUPABASE_URL=REDACTED
TURBO_CACHE=REDACTED
TURBO_DOWNLOAD_LOCAL_ENABLED=REDACTED
TURBO_REMOTE_ONLY=REDACTED
TURBO_RUN_SUMMARY=REDACTED
UPSTASH_REDIS_REST_TOKEN=REDACTED
UPSTASH_REDIS_REST_URL=REDACTED
VERCEL=REDACTED
VERCEL_ENV=REDACTED
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=REDACTED
VERCEL_GIT_COMMIT_AUTHOR_NAME=REDACTED
VERCEL_GIT_COMMIT_MESSAGE=REDACTED
VERCEL_GIT_COMMIT_REF=REDACTED
VERCEL_GIT_COMMIT_SHA=REDACTED
VERCEL_GIT_PREVIOUS_SHA=REDACTED
VERCEL_GIT_PROVIDER=REDACTED
VERCEL_GIT_PULL_REQUEST_ID=REDACTED
VERCEL_GIT_REPO_ID=REDACTED
VERCEL_GIT_REPO_OWNER=REDACTED
VERCEL_GIT_REPO_SLUG=REDACTED
VERCEL_OIDC_TOKEN=REDACTED
VERCEL_TARGET_ENV=REDACTED
VERCEL_URL=REDACTED
